.content {
  /* border: 2px solid red; 
   display: inline-block; 
   width: 100%; 
  background-color: #e3fdfd; 
   background-color: lightgrey;  */
  position: relative;
   /* margin-top: 10px;  */
  margin-left: 17.05%;
  font-family: "Lato", sans-serif;
  /* background-color: #f3f3f4; */
   /* height: 100%; 
  padding: 20px;  */
}