
         .btngrad {background-image: linear-gradient(to right, #614385 0%, #516395  51%, #614385  100%)}
         .btngrad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
          }

          .btngrad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }


          .items{
    
  margin: auto;
  margin-top: 3%;
  width: 50%;
  /* border: 3px solid green; */
  padding: 10px;
  flex: 1 1 20%;
  justify-content: center;
    min-height: 50vh;
}